<script defer src="../js/main.js"></script>
<a href="/">
    <img class="logo" src="../images/icon.png">
</a>
<h1 class="title">Font Yoinker</h1>
<div class="body-container">
    <div class="search-container">
        <input id="website-input" name="site" type="text" placeholder="Website to yoink from...">
        <button id="search-button" type="submit">
            <img src="../images/icons/search.svg">
        </button>
    </div>
</div>