<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font Yoinker 2000</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <%- include('./partials/search') %>
    <p class="tagline">Enter a website to <strong>yoink</strong> the fonts they use!<br>I am not liable for an legal grievances as the site does not <abbr title="This means the server is never in possesion of said material">host any files</abbr><br>Downloading files are at the disgression of the user and the site is not liable for any infringement<br><strong>NOTE:</strong> Many fonts will be in the WOFF(2) format, to use this on your PC convert to OTF ot TTF</p>
</body>
</html>